<div id="subject-search-widget" class="subject-search-widget" data-project-id="<%= issue.project_id %>">
  <label for="subject-search-input">Subject Search & Autofill:</label>
  <div class="subject-search-content">
    <div class="subject-type-selector">
      <label>
        <input type="radio" name="subject-type" value="Employee" checked>
        Employee
      </label>
      <label>
        <input type="radio" name="subject-type" value="Vendor">
        Vendor
      </label>
    </div>

    <div class="search-input-container">
      <input type="text"
             id="subject-search-input"
             class="subject-search-input"
             placeholder="Search for subject by name"
             autocomplete="off">
      <div class="search-loading" id="subject-search-loading" style="display: none;">
        <span>Searching...</span>
      </div>
    </div>

    <div id="subject-search-results" class="search-results" style="display: none;">
      <ul id="subject-results-list" class="results-list">
        <!-- Search results will be populated here -->
      </ul>
    </div>

    <div id="subject-search-error" class="search-error" style="display: none;">
      <!-- Error messages will be displayed here -->
    </div>
  </div>
</div>

<!-- Assets loaded globally via view_layouts_base_html_head hook -->
